{% extends 'core/base.html' %}
{% load staticfiles%}
{% block content %}

<h1>
    <span>{{ datagroup.name }}</span>
    <div class="btn-group float-lg-right" role="group" aria-label="Datagroup Modification">
        <a class="btn btn-success btn-sm" role="button" title="edit" href="{% url "data_group_edit" datagroup.id %}">
            <span class="oi oi-pencil"></span> </a>
        <a class="btn btn-danger btn-sm" role="button" title="delete"
           href="{% url "data_group_delete" datagroup.id %}">
            <span class="oi oi-trash"></span> </a>
    </div>
</h1>
</br>

<dl class="row">
    <dt class="col-sm-5">Description</dt>
    <dd class="col-sm-7">{{ datagroup.description }}</dd>
    <dt class="col-sm-5">Dowloaded By</dt>
    <dd class="col-sm-7">{{ datagroup.download_by }}</dd>
    <dt class="col-sm-5">Date Downloaded</dt>
    <dd class="col-sm-7">{{ datagroup.download_date }}</dd>
    <dt class="col-sm-5">Scraper Script</dt>
    <dd class="col-sm-7">{{ datagroup.scrape_script }}</dd>
</dl>
</br>

<a href="#"><img src="{% static 'font/open-iconic-master/png/spreadsheet-3x.png' %}" width="20" height="20"> registered_records.csv</a>
</br>

<div class="row">
  <div class="col-sm-3">
    <a class="btn btn-primary btn-block" role="button" href="#">Register Records</a>
    <div class="clearfix">
      <!-- <hr style="height:3px; visibility:hidden;" /> -->
      <a href="#"><img src="{% static 'font/open-iconic-master/png/document-3x.png' %}" width="20" height="20"> CSV Template</a>
    </div>
  </div>
  <div class="col-sm-3">
    <a class="btn btn-primary btn-block" role="button" href="#">Upload Records</a>
  </div>
  <div class="col-sm-3">
    <a class="btn btn-primary btn-block" role="button" href="#">Download PDF Records</a>
  </div>
  <div class="col-sm-3">
    <a class="btn btn-primary btn-block" role="button" href="#">Upload Extracted Text</a>
    <div class="clearfix">
      <!-- <hr style="height:3px; visibility:hidden;" /> -->
      <a href="#"><img src="{% static 'font/open-iconic-master/png/document-3x.png' %}" width="20" height="20"> CSV Template</a>
    </div>
  </div>
</div>

{% endblock %}

<!-- {% url 'data_source_detail' %} -->
